---
layout: minimal
title: "My Posts"
permalink: /posts
image: 'https://avatars0.githubusercontent.com/u/9610091?s=460&v=4'
description: "Follow here my publications on code, programming, computer science, data science, technology, women in computing and more."
---
<h2>Posts</h2>

<div class="aboutme">
	<table class="table-posts">
		<thead>
			<tr>
				<th class="idiom">English</th>
				<th class="idiom">Portuguese</th>
			</tr>
		</thead>
		<tbody id="posts-idiom">
			<tr>
				<th>
					<ul class="recent">
						{% for post in site.posts %}
							{% if post.idiom == "english" %}
					  		<li id="posts-title"><a href="{{ post.url | prepend: site.baseurl }}"><p class="project-name" itemprop="name">{{ post.title}} || {{ post.created}}</p></a></li>
							{% endif %}
					  {% endfor %}
					</ul>
				</th>
				<th>
					<ul class="recent">
						{% for post in site.posts %}
							{% if post.idiom == "portuguese" %}
					  		<li id="posts-title"><a href="{{ post.url | prepend: site.baseurl }}"><p class="project-name" itemprop="name">{{ post.title}} || {{ post.created}}</p></a></li>
							{% endif %}
					  {% endfor %}
					</ul>
				</th>
			</tr>
		</tbody>
	</table>
</div>
