<div class="tree-talks">

    <h1>>> Talks & Workshops</h1>
    
        <div class="content">
            <a title="Open the link" href="https://pyladiesteresina.github.io/">
                <h4 itemprop="name">Organized the 1st Teresina Women's Programming Marathon - PyLadies Teresina</h4>
            </a>

            <a title="Open the link" href="https://djangogirls.org/teresina/">
                <h4 itemprop="name">Organized the 1st Django Girls Teresina 2017 - PyLadies Teresina</h4>
            </a>

            <a title="Open the link" href="https://pyladiesteresina.github.io/">
                <h4 itemprop="name">Organized technical workshops on Introduction to Programming with Python - PyLadies Teresina</h4>
            </a>

            <a title="Open the link" href="https://www.youtube.com/watch?v=ey0KP8DYO0Y">
                <h4 itemprop="name">Speaker: Começando com Python: Aprendendo para ensinar, a melhor forma de programar! - Python Brasil 2017</h4>
            </a>

            <a title="Open the link" href="http://2017.pythonbrasil.org.br/">
                <h4 itemprop="name">Mentor of Django Girls Belo Horizonte - Python Brasil 2017</h4>
            </a>

            <a title="Open the link" href="https://www.youtube.com/watch?v=JquGGZPpcEs">
                <h4 itemprop="name">Speaker: Algoritmo Genético com Python - "Fruto do acaso ou de um processo evolutivo?!" - Python Nordeste 2018</h4>
            </a>

            <a title="Open the link" href="https://www.youtube.com/watch?v=JquGGZPpcEs">
                <h4 itemprop="name">Speaker: Algoritmo Genético com Python - "Fruto do acaso ou de um processo evolutivo?!" - Python Brasil 2018</h4>
            </a>

            <a title="Open the link" href="https://djangogirls.org/teresina/">
                <h4 itemprop="name">Mentor of Django Girls Teresina 2018 - PyLadies Teresina</h4>
            </a>
        </div>
        {% include back-homepage.html %}
</div>
